body {
    background-image: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-content {
    margin-top: 120px;
}

.page-header {
    text-align: center;
}
.page-header h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 4em;
}

.store-content-header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
}
.store-content-header p, .store-content-header a {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.8em;
    color: #333;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}
.store-content-header select {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.7em;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 0px;
    cursor: pointer;
    outline: none;
}
.store-content-selection-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
@media (max-width: 768px) {
    .store-content-header {
        justify-content: center;
    }
    .store-content-selection-container:nth-child(3), /* Items per row */
    .store-content-selection-container:nth-child(4)  /* Rows per page */ {
        display: none;
    }
}

.store-controls {
    padding: 20px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.store-controls-info {
    display: flex;
    align-items: center;
}
.store-controls-info input {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.7em;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 0px;
    outline: none;
    margin: 5px;
    width: 40px;
}
.store-controls-page-buttons {
    display: flex;
    align-items: center;
}
.store-controls-back-to-top {
    margin: 0;
    margin-top: 20px;
    text-decoration: none;
}
.store-controls-back-to-top:hover {
    text-decoration: underline;
}
.store-controls p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin: 0;
    padding: 0;
}
.store-controls a {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2em;
    color: #333;
    text-decoration: underline;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.store-controls button {
    background-color: #00000000;
    border-radius: 0px;
    outline: none;
    border: 2px solid #333;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2em;
    color: #333;
    transition: all 200ms ease;
}
.store-controls button:disabled {
    color: #bbb;
    border: 2px solid #bbb;
    cursor: not-allowed;
}
.store-controls button:not(:disabled):hover {
    cursor: pointer;
    background-color: #333;
    color: #f0f0f0;
    transition: all 200ms ease;
}