<nav class="component-page-navbar">
    <div class="navbar-container">
        <a class="navbar-title" href="../Home/Index.html">MZSHEETS</a>
        <input type="text" spellcheck="false" placeholder="Search..." id="navbar-search-input">
        <ul>
            <li><a href="../Items/Index.html">All items</a></li>
            <li><a href="../Items/Index.html?category=shoes">Shoes</a></li>
            <li><a href="../Items/Index.html?category=hoodies-sweaters">Hoodies/Sweaters</a></li>
            <li><a href="../Items/Index.html?category=t-shirts">T-Shirts</a></li>
            <li><a href="../Items/Index.html?category=jackets">Jackets</a></li>
            <li><a href="../Items/Index.html?category=pants-shorts">Pants/Shorts</a></li>
            <li><a href="../Items/Index.html?category=headwear">Headwear</a></li>
            <li><a href="../Items/Index.html?category=accessories">Accessories</a></li>
            <li><a href="../Items/Index.html?category=other-stuff">Other stuff</a></li>
        </ul>
    </div>
</nav>