<nav class="component-page-navbar">
    <div class="navbar-container">
        <a class="navbar-title" href="../Items/">MZSHEETS</a>
        <input type="text" spellcheck="false" placeholder="Search..." id="navbar-search-input">
        <ul>
            <li><a
                class="navbar-item"
                onclick="const iDisplayMode=document.querySelector('.navbar-items-dropdown-container').style.display;document.querySelector('.navbar-items-dropdown-container').style.display=iDisplayMode==='block'?'none':'block';"
                >Items&nbsp;<div class="navbar-icon-normal-container"><img class="navbar-icon-normal" src="../Data/Assets/down-arrow.png" alt=""></div></a>
            </li>
            <li class="navbar-search-icon">
                <a
                class="navbar-item"
                onclick="const sDisplayMode=document.querySelector('.navbar-m-search-dropdown-container').style.display;document.querySelector('.navbar-m-search-dropdown-container').style.display=sDisplayMode==='block'?'none':'block';"
                ><div class="navbar-icon-normal-container"><img class="navbar-icon-normal" src="../Data/Assets/magnifying-glass.png" alt="Search"></div></a>
            </li>
            <li><a
                class="navbar-item"
                href="../Wishlist/"
                ><div class="navbar-icon-normal-container"><img class="navbar-icon-normal" src="../Data/Assets/star.png" alt="Wishlist"></div></a>
            </li>
        </ul>
    </div>
    <div
    onmouseleave="document.querySelector('.navbar-items-dropdown-container').style.display = 'none';"
    class="navbar-items-dropdown-container"
    >
        <ul class="navbar-items-dropdown">
            <li><h3>Clothing</h3></li>
            <li><a href="../Items/">All Items</a></li>
            <li><a href="../Items/?category=shoes">Shoes</a></li>
            <li><a href="../Items/?category=hoodies-sweaters">Hoodies/Sweaters</a></li>
            <li><a href="../Items/?category=t-shirts">T-Shirts</a></li>
            <li><a href="../Items/?category=jackets">Jackets</a></li>
            <li><a href="../Items/?category=pants-shorts">Pants/Shorts</a></li>
            <li><a href="../Items/?category=headwear">Headwear</a></li>
            <li><a href="../Items/?category=accessories">Accessories</a></li>
            <li><a href="../Items/?category=other-stuff">Other stuff</a></li>
        </ul>
    </div>
    <div class="navbar-m-search-dropdown-container">
        <input type="text" spellcheck="false" placeholder="Search..." id="navbar-m-search-input" class="navbar-m-search-input">
    </div>
</nav>