<nav class="component-page-navbar">
    <div class="navbar-container">
        <a class="navbar-title" href="../Items/">MZSHEETS</a>
        <input type="text" spellcheck="false" placeholder="Search..." id="navbar-search-input">
        <ul>
            <li class="navbar-icon-normal-container navbar-search-icon"><a
                onclick="const sDisplayMode=document.querySelector('.navbar-m-search-dropdown-container').style.display;document.querySelector('.navbar-m-search-dropdown-container').style.display=sDisplayMode==='block'?'none':'block';"
                ><img class="navbar-icon-normal" src="../Data/Assets/magnifying-glass.png" alt="Search"></a></li>
            <li><a
                onclick="const iDisplayMode=document.querySelector('.navbar-items-dropdown-container').style.display;document.querySelector('.navbar-items-dropdown-container').style.display=iDisplayMode==='block'?'none':'block';"
                >Items</a></li>
            <li><a href="../Wishlist/">Wishlist</a></li>
        </ul>
    </div>
    <div
    onmouseleave="document.querySelector('.navbar-items-dropdown-container').style.display = 'none';"
    class="navbar-items-dropdown-container"
    >
        <ul class="navbar-items-dropdown">
            <li><h3>Clothing</h3></li>
            <li><a href="../Items/">All Items</a></li>
            <li><a href="../Items/?category=shoes">Shoes</a></li>
            <li><a href="../Items/?category=hoodies-sweaters">Hoodies/Sweaters</a></li>
            <li><a href="../Items/?category=t-shirts">T-Shirts</a></li>
            <li><a href="../Items/?category=jackets">Jackets</a></li>
            <li><a href="../Items/?category=pants-shorts">Pants/Shorts</a></li>
            <li><a href="../Items/?category=headwear">Headwear</a></li>
            <li><a href="../Items/?category=accessories">Accessories</a></li>
            <li><a href="../Items/?category=other-stuff">Other stuff</a></li>
        </ul>
    </div>
    <div class="navbar-m-search-dropdown-container">
        <input type="text" spellcheck="false" placeholder="Search..." id="navbar-m-search-input" class="navbar-m-search-input">
    </div>
</nav>