<div class="component-wishlist-card">
    <div class="wishlist-card-image-container">
        <img class="wishlist-card-image" alt="Item Image">
    </div>
    <div class="wishlist-card-details">
        <h3 class="wishlist-card-title">Item Title</h3>
        <p class="wishlist-card-price">Item Price</p>
        <div class="wishlist-card-controls">
            <a class="wishlist-card-remove">Remove</a>
            <a href="../Error/?error-code=404&error-title=Item not found&error-msg=The item you are looking for does not exist." target="_blank" class="wishlist-card-link">Link</a>
        </div>
    </div>
</div>