body {
    background-image: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-content {
    margin-top: 120px;
}

.error-title {
    margin-top: 300px;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 4em;
    color: #333;
}
.error-message {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5em;
    color: #333;
}